<h2>สินค้าใหม่</h2>

<div *ngFor="let product of products" class="card-product">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>

  <div *ngIf="product.description">
    <h4>Description :</h4>
    <p [innerHTML]="product.description"></p>
  </div>

  <button (click)="share()">Share</button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
