.card-product {
  background-color: aliceblue;
  padding: 10pt;
  margin: 10pt 0;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
